


<div class="row">

	<div class="col-md-12 div-gallery">
				<%=image_tag('map_img.jpg' , class: "img-location img-fullwidth img-rounded")  %>
	</div>


	<div class="col-md-12 div-gallery div-map">
		<div id="map-canvas"></div>
	</div>







</div>


<% content_for :google_map do%>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoHXpUiEiwf7-GZkXAGr5glqi1p7H0C3M&sensor=false">
    </script>

    <%= javascript_include_tag 'google_map'%>
    
  	<script>
      initialize();
    </script>
<%end%>
