
<div class="footer">
  <div class="row">
    

    <div class="col-md-12">
      <%=image_tag('img-footer.png', class: "img-fullwidth")%>
    </div>

    

    
    <!--
    <ul>
      <span><i class="fa fa-clock-o"> Mon ~ Sun 10:00am ~9:00pm<br>sfdafdsdf</i> </span>
      <span><i class="fa fa-home"> 台北市中正區師大路136號</i> </span> 
      
      <span><i class="fa fa-phone"> 02-77136870</i> </span>

    </ul>
  -->



  <!--
    <div class="col-md-3">
      <i class="fa fa-rss"></i>店內免費無線上網
    </div>

    <div class="col-md-3">
      <span class="glyphicon glyphicon-home"></span>台北市中正區師大路136號
    </div>
    <div class="col-md-3">
      <span class="glyphicon glyphicon-time"></span>Mon ~ Sun 10:00m ~10:00pm
    </div>

      <div class="col-md-3">
      <span class="glyphicon glyphicon-phone-alt"></span>02-77136870
    </div>
  -->
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12 center">
      <div class="col-md-offset-4 col-md-4 center">&copy;2014 <a href="">pingHouse</a>. All Rights Reserved.</div> 

    </div>
  </div>



        


</div>